.test {
  background: rgba(255, 255, 255, 0.959);
}

.border {
  background: rgba(235, 235, 235, 0.753);
}

.shadow {
  box-shadow: 0 7px 11px -10px rgba(26, 24, 24, 0.815);
}

.backGroung {
  background: rgba(255, 254, 254, 0.973);
}
